table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

td {
  text-align: center; 
  vertical-align: middle; 
}

.totalRow{
  display: flex;
  background-color: aqua;
  justify-content: space-between;
}

.home{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  margin-top: 50px;
}

.buttons{
  display: flex;
  flex-direction: column;
}

.buttons button {
  width: 10%;
}

.countRow{
  display: flex;
}

.countRow div {
  margin-right: 20px;
}

